<div class="center jumbotron jumbotron-fluid" >
  <div class="container">
    <h1 id="title text-info">テニスコート予約アプリ</h1>
    <p id="lead">
      <br>テニスコートを予約するアプリケーションです。
      <br>２週間前から前日まで予約可能で、キャンセルも可能となっています。
    </p>
    <% unless current_user.admin? %>
      <p id="reservation">
        テニスコートの予約は<%= link_to "こちら", court_path(Court.find(1)) %>から
      </p>
    <% end %>
  </div>
</div>