// Place all the styles related to the Courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 新規作成フォーム */

.btn-court-new {
  margin-top: 10px;
}

/* 編集フォーム */

.btn-court-edit {
  margin-top: 10px;
}

/* コートのタイトル */
.All-court-title {
  margin-bottom: 30px;
}

/* コートテーブル */
#table-courts {
  background-color: #ffffff;
  border: solid 1px;
}

/* コートテーブルの見出し */
#table-courts {
  th {
    background-color: #ffff00;
  }
}

/* コートテーブルのデータ */
#table-courts {
  td {
    vertical-align: middle;
  }
}

/* コートの名前 */
.court-name {
  width: 300px;
}

/* 編集・削除ボタン */
.court-btn {
  text-align: right;
  width: 150px;
}

